<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AfficherProduitsParCategoriy</servlet-name>
        <servlet-class>controler.AfficherProduitsParCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apropos</servlet-name>
        <servlet-class>controler.Apropos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controler.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheProduit</servlet-name>
        <servlet-class>controler.RechercheProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsProduit</servlet-name>
        <servlet-class>controler.DetailsProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControler</servlet-name>
        <servlet-class>controler.CartControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffichageCart</servlet-name>
        <servlet-class>controler.AffichageCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afficherListOrders</servlet-name>
        <servlet-class>controler.AfficherListOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>controler.DeleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficherProduitsParCategoriy</servlet-name>
        <url-pattern>/afficherProduitsParCategoriy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apropos</servlet-name>
        <url-pattern>/apropos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheProduit</servlet-name>
        <url-pattern>/rechercheProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsProduit</servlet-name>
        <url-pattern>/detailsProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControler</servlet-name>
        <url-pattern>/cartControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffichageCart</servlet-name>
        <url-pattern>/affichageCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherListOrders</servlet-name>
        <url-pattern>/afficherListOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            acceuil
        </welcome-file>
    </welcome-file-list>
</web-app>
